body {
  max-width: 1500px;
  margin: auto;
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: black;
  font-size: 16px;
  display: flex;
}

nav img {
  width: 170px;
  margin: 10px 80px;
}

nav i {
  padding: 0 15px;
}

.nav-center ul {
  display: flex;
}

footer ul li {
  list-style: none;
}

.nav-center li {
  list-style: none;
}

.btn-danger {
  background-color: #df5a6f;
  border: none;
}

.all-products {
  overflow: hidden;
}

.all-products h4{
  font-size: 18px;
  font-weight: 700;
}

.all-products img {
  width: 100%;
}

.all-products li {
  list-style: none;
  padding: 10px;
}

footer li a,
.footer-about p {
  color: #888;
}

.dropdown a {
  margin-left: 0.5rem;
  color: white;
  text-decoration: none;
}

.social a {
  font-size: 25px;
  padding: 0 10px;
  color: #888;
}

.all-products li a {
  color: #333;
}

.category-list {
  border-right: 0.5px solid #e4e4e4;
  padding: 100px 0;
}

.cover-banner {
  background-image: url(./img/banner.jpg);
  background-repeat: no-repeat;
  min-height: 60vh;
  background-size: 100%;
}

.result-banner {
  background-image: url(./img/banner.jpg);
  background-repeat: no-repeat;
  min-height: 20vh;
  background-size: 100%;
  background-position: 100% 20%;
}

.result-banner img {
  width: 120px;
}

.result-banner h1 {
  font-size: 22px;
  font-weight: 200;
}

.result-dropdown button {
  padding: 10px;
  margin-bottom: 10px;
}

.logo-cover img {
  margin-top: 15rem;
  width: 15rem;
}

.more-products p {
  border: 1px solid #999;
  padding: 5px 10px;
  margin: 0 10px;
  background-color: white;
}

.logo-cover h1 {
  font-size: 24px;
  font-weight: 200;
}

.hot-ads img {
  width: 100%;
}

.hot-deal-card {
  border: none;
  max-width: 100%;
}

.hot-ads button {
  background-color: #d35266;
  border: none;
}

.hot-ads h5 {
  color: #db3a52;
}

.new-arrivals .second-button {
  background-color: #db3a52;
  border: none;
}

.new-arrivals .card {
  width: 15rem;
  margin: 20px 10px;
}

.new-arrivals .first-button {
  background-color: #999;
  border: none;
}

.footer-header {
  color: #df5a6f;
}

.footer-about p {
  line-height: 34px;
}

@media (min-width: 991px) and (max-width: 1200px) {
  nav {
    font-size: 12px;
  }

  nav img {
    width: 130px;
    margin: 10px 50px 0;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .nav-right {
    display: none;
  }

  nav img {
    width: 140px;
    margin: 10px 20px;
  }

  .nav-button {
    display: none;
  }

  .cover-banner {
    background-image: url(./img/banner.jpg);
    background-repeat: no-repeat;
    min-height: 30vh;
  }

  .logo-cover img {
    margin-top: 5rem;
    width: 15rem;
  }

  .hot-ads img {
    width: 210px;
    padding-right: 20px;
  }

  .all-products img {
    padding-top: 70px;
    height: 70%;
  }

  .result-dropdown button {
    padding: 5px 10px;
  }

  .search-result {
    text-align: center;
  }

  .category-list {
    display: none;
  }

  .footer-header hr {
    display: none;
  }
}
